extends ./template.pug

block login

      input(type='text' placeholder='참여할 방 번호')
      a(href='/login') 익명으로 로그인
      a(href=api_url) 
            img(height='50' src='http://static.nid.naver.com/oauth/big_g.PNG')
      //<a href=#{api_url}><img height='50' src='http://static.nid.naver.com/oauth/big_g.PNG'/></a>


      div(class='ui modal')
            i(class='close icon')
            div(class='header') Profile