extends ./template.pug

block login
      
      //a(href=api_url) 
      //      img(height='50' src='http://static.nid.naver.com/oauth/big_g.PNG')
      //<a href=#{api_url}><img height='50' src='http://static.nid.naver.com/oauth/big_g.PNG'/></a>