extends ./template.pug

block login
      script(src='https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js' charset='utf-8')
    
      #naver_id_login
      
      script(src='js/naverLogin.js')