doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0' charset='utf-8')
        title chats
        link(rel='stylesheet' type='text/css' href='dist/semantic.min.css')
        link(rel='stylesheet' type='text/css' href='../dist/semantic.min.css')
        link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
        script(type='text/javascript' src='js/prefixfree.min.js')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    body
        block index
        block chats
        
        
        //script(src='dist/semantic.min.js')