#gnb {
  width: 800px;
  position: relative;
  left:50%;
  margin-left: -360px;
}

#anonymous {
  background:#000;
  box-sizing:border-box;
  margin: 20px 0;
  border-radius: 10px;
  color:#fff;

  padding: 15px 58px;
  font-weight:bold;
  font-size: 16px;
}

#gnb a:hover {
  transform:scale(1.1);
}